body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.jumbotron {
    text-align: center;
    /* might I just add that I am *VERY* happy with this gradient, she's fantastic! */
    background-image:linear-gradient(white, darkslateblue);
    color: midnightblue;
    border-radius: 0;
    border: 10px solid white;
  }
















  /* footer {
    text-align: center;
    padding: 30px;
    margin: 30px;
    position: relative;
  } */