* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.jumbotron {
    text-align: center;
    /* might I just add that I am *VERY* happy with this gradient, she's fantastic! */
    background-image:linear-gradient( whitesmoke, rgb(143, 132, 215));
    color: darkslateblue;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }

header {
  background-image:linear-gradient( black, rgb(108, 75, 94));
  color: thistle;
  text-align: center;
  padding: 10px 0;
}

.container-fluid .row div h5 {
  font-weight: bold;
}

#city-date-icon,
#city-name,
#current-icon, #forecast-cards
{
  display: flex;
}

#forecast-div {
  margin-top: 20px;
}

#forecast-weather {
  width: 100%;
}

.forecast {
  margin: 20px;
}











footer {
    text-align: center;
    padding: 30px;
    margin: 30px;
    position: relative;
  }